<div id="@ViewBag.divid"></div>

@*<p id="result"></p>*@
<script>
$(function() {

    $("#@ViewBag.divid").jui_pagination({
			currentPage:1 ,
			visiblePageLinks: 5,
			totalPages: @ViewBag.TotalPage,
			containerClass: 'container1',

			useSlider: true,
			sliderInsidePane: true,
			sliderClass: 'slider1',
            showNavButtons:true,
			disableSelectionNavPane: true,

			navRowsPerPageClass: 'rows-per-page1  ui-state-default ui-corner-all',
			navGoToPageClass: 'goto-page1 ui-state-default ui-corner-all',

			onChangePage: function(event, page_num) {
				if(isNaN(page_num) || page_num <= 0) {
					alert('Invalid page' + ' (' + page_num + ')');
				} else {
				    //					$("#result").html('Page changed to: ' + page_num+' '+(page_num%5+1));
                    
                    $("#@ViewBag.tbodyPages").load('@Url.Action(ViewBag.PageName,ViewBag.ControllerName)/'+page_num+'@ViewBag.PageParam' ,new function(){
                       
                    });
                  
                    
				}
			},
			onSetRowsPerPage: function(event, rpp) {
				if(isNaN(rpp) || rpp <= 0) {
					alert('Invalid rows per page' + ' (' + rpp + ')');
				} else {
					alert('rows per page successfully changed' + ' (' + rpp + ')');
					$(this).jui_pagination({
						rowsPerPage: rpp
					})
				}
			},
			onDisplay: function() {
				var showRowsInfo = $(this).jui_pagination('getOption', 'showRowsInfo');
				if(showRowsInfo) {
					var prefix = $(this).jui_pagination('getOption', 'nav_rows_info_id_prefix');
					$("#" + prefix + $(this).attr("id")).text('Total rows: XXX');
				}
			}
		});

//		$("#result").html('Current page is:' + $("#@ViewBag.divid").jui_pagination('getOption', 'currentPage'));

});

</script>