@if (1 == 2)
    { 
        <script type="text/javascript" src="../../Scripts/jquery-2.0.3-vsdoc.js"></script>
    }
    
@Html.Action("Menu", "BPartMenu", new { id = -1, tagetdiv = "thisid"})
<div style=" width:100%; height:100%; display:block; min-height:420px;">
@Html.Action("MenuPartial", "MyTart", new { id="thisid",tabName="这是名称"})
</div>