<div class="panel panel-info" style="height:243px;">
    <div class="panel-heading">
        <span>
            <img src="~/Images/news/ak23.jpg"></img>
        </span>
        <span>
            <strong>联系办法</strong>
        </span>
    </div>
    <div class="panel-body">
        <pre>
名称：青岛海立美达股份有限公司
地址：青岛市即墨青威路1626号
邮编：266200
传真：0532-89066196
电话：0532-89063333 
联系人：
邮箱：hlmo@haili.com.cn

</pre>
    </div>
</div>